<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quran</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/styles/stylesheets.css" />
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/quran">Quran</a></li>
          <li><a href="/hadith">Hadith</a></li>
        </ul>
        <li>
          <a href="/profile"
            ><img
              src=""
              class="inline-block mr-5 rounded-full w-10 h-10 profile"
          /></a>
        </li>
      </nav>
    </header>

    <main>
