:root {
    --primary-color: #000000;
    --secondary-color: #e0e0e0;
    --tertiary-color: #f0f0f0;
    --quaternary-color: #000000;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color-scheme: light dark;
    scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar {
    background: transparent;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #eeeeee;
    border-radius: 10px;
    border: 1px solid #eeeeee;
}

body {
    background: var(--primary-color);
    font-family: 'Roboto', sans-serif;
}




h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}

header {
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    background: var(--primary-color);
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;

}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

nav ul {
    display: flex;
    align-items: center;
    width: 90%;
}

li {
    list-style-type: none;
}

nav a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0 10px;
}

nav ul li a .profile {
    position: relative;
}


nav a:hover {
    text-decoration: underline;
}


.container-quran {
    background: url(/images/bgQuran.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    animation: bg 3s ease-in-out forwards;
}

.container-hadith {
    background: url(/images/bgHadith.jpg);
    background-size: cover;
    background-position: 50% 90%;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    animation: bg 3s ease-in-out forwards;
}

@keyframes bg {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

main {
    background: var(--primary-color);
    position: relative;
    height: 100vh;
    width: 100%;
    padding: 10px;
}

footer {
    position: relative;
    width: 100%;
    background: var(--primary-color);
    border-top: 1px solid #ccc;
    padding: 20px 0;
    text-align: center;
}

audio {
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
    width: 200px;
    height: 25px;
}

/* Lenis Css  */

html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}